 Oper configuration file

 *******************************************************************************************

 All lines not starting with a reserved word or & are ignored, and can be used
 as comments.

 Lines that start with & are filters for data from Battle.net.  Format:
 &<event number>&<usermask>&<flags match>&<conditional>&<text match>&<action>

 <event number> is the Battle.net event, minus 1000.

 <usermask> is the mask to use for matching for usernames.  This can be an exact match,
 or it can be a wildcard match.

 <flags match> is a match for specific flags that apply to a user, taken from the database.

 <conditional> is a match for conditionals not involving incoming text from Battle.net,
 such as the value of a variable.  More on these later.

 <text match> is a match for the text field of an incoming event, if present.  Here, this
 matches for a substring of the incoming text.  To match for the start of an event, begin
 with a quotation mark.  To match for the end of an event, end with a quotation mark.  To
 match for exact text, enclose the entire match in quotation marks.

 <action> is the action taken if all the above conditions are met.  Special preset actions
 begin with a colon, so it's not recommended to make responses starting with one.
 Normally, after the bot responds to an event, it halts processing further commands for that
 event.  If you put a + at the start of the action field, then the bot will continue to
 look for more events to respond to.  Note that processing further commands for an event
 after reloading the configuration file is undefined and should not be attempted.

 Note that <text match>, <usermask>, <flags match>, and <conditional> default to values
 which will always hold true.  Thus you do not have to specify anything in these fields if
 you do not want to use them for a particular response.

 *******************************************************************************************

 Preset commands can be accessed through the action field of an event.
 
 Preset commands:

 :reconnect
 :reload
 :reply <text>
 :set <user variable number> <$variable number|text>

 *******************************************************************************************

 Config values are operating parameters which are set when a config section is loaded.

 Config values:

 trigger=<bot trigger>
 protect=<0|1>
 protectsafe=<0|1>
 leaveban=<0|1>
 leetprotect=<0|1>
 svb=<0|1>
 svbf=<0|1>
 svbt=<time in milliseconds>
 frjb=<0|1>
 frjbf=<0|1>
 frjbt=<time in milliseconds>
 ci=<0|1>
 cit=<time in milliseconds>

 *******************************************************************************************

 Variables can be used in any action field, and are replaced with certain values when the
 bot processes a command.

 Variables:

 %1 - Username field of event
 %2 - Text field of event
 %3 - Text field of event after match
 %4 - Unique name of bot, as assigned by Battle.net
 %5 - Reserved
 %6 - Ping field of event
 %7 - Current channel name
 %8 - Bot's parsed game product
 %9 - User's database flags
 %10 - Flags field of event
 %11 - Reserved
 %12 - Date bot was compiled
 %13 - Time bot was compiled
 %14 - Current date
 %15 - Current time
 %16 - Username of user which last whispered the bot
 %17 - User currently designated
 %18 - Bot's game product
 %19 - User's game product (blank if not event 1 or 2)
 %20 - User value #1
 %21 - User value #2
 %22 - User value #3
 %23 - User value #4
 %24 - User value #5
 %25 - User value #6
 %26 - User value #7
 %27 - User value #8
 %28 - User value #9
 %29 - User value #10
 %30 - Parsed game product (blank if not event 1 or 2)
 %31 - Bot uptime (since instance started)
 %32 - System uptime

 Attempting to use any undocumentated variables is strongly discouraged, as results would be 
 unpredictable at best.

 ******************************************************************************************* 

 Conditionals are a powerful addition to the bot.  These allow you to make a decision based
 on the value of a variable.  Conditionals are case-insensitive.

 Syntax and usage of conditionals:

 <value 1 number> <operation> <value 2 number|text>

 <value 1 number> is the number of the variable to be compared.

 <operation> can be == or !=

 <value 2 number> is the number of the other variable to compare.
 -OR-
 <text> is the text to compare.

 *******************************************************************************************

 The user variables are another useful feature of the bot.  These can be set by a command,
 and persist until set to something else.

 Syntax and usage of setting user variables:

 :set <user variable number> <value>

 <user variable number> is the user variable number to be set.  1 corresponds to variable
 %20, 2 corresponds to variable %21, and so on, through a max of 10.

 <value> is either a variable number, or text (no spaces allowed).  To specify a variable,
 use the format: $<variable number>.  For example, $1 would be %1.

 *******************************************************************************************

 Technical support:

 I cannot help every user with the bot, there are simply too many people with too many
 questions.  I would suggest that you find someone who has experience with this bot, or with
 NBBot, and ask them.

 *******************************************************************************************

 Follwing is a bare-bones configuration to get you started.

trigger=.
protect=0		# Channel protection
protectsafe=0		# Heightened protection
leaveban=0		# Leave ban
leetprotect=1		# Elite ban
svb=0			# Short visit protection
svbf=0			# Short visit protection exemption for +F
svbt=30000		# Short visit protection time
frjb=0			# Fast rejoin protection
frjbf=0			# Fast rejoin protection exemption for +F
frjbt=5000		# Fast rejoin protection time
ci=1			# Kicking of idle users
cit=900000		# Idle kick time

 &<id>&<user>&<flags>&<conditional>&<text>&[processafter]<action>

 A simple command to greet me.

&2&Fyre&&&&Welcome, %1%!
&2&Fyre@USWest&&&&Welcome, %1%!

 A more advanced command to report general information about the bot to people with O.

&4&&O&&"status"&:reply I am %4 in channel %7 on product %18 (%8).  Bot uptime: %31.
&5&&O&&".status"&:reply I am %4 in channel %7 on product %18 (%8).  Bot uptime: %31.

 This is a nice demonstration of using user variables and conditionals to add a "staton" 
 and "statoff" command to toggle greeting a user joining the channel.

&2&&&20 == StatOn&&%1 joined the channel using %30.
&5&&G&&".staton"&:reply Users with flags "G" are not allowed to enable stat!
&5&&O&20 != StatOn&".staton"&+:set 1 StatOn
&5&&O&20 == StatOn&".staton"&:reply Enabled stat
&5&&G&&".statoff"&:reply Users with flags "G" are not allowed to disable stat!
&5&&O&20 != StatOff&".statoff"&+:set 1 StatOff
&5&&O&20 == StatOff&".staton"&:reply Disabled stat
&5&&O&20 == StatOn&".stat?"&:reply Stat is enabled
&5&&O&20 != StatOn&".stat?"&:reply Stat is disabled

 Two responses making up a command telling someone the person who last whispered the bot.
 For reference, %16 defaults to the bot's unique name (%4) on startup.

&5&&O&16 != $4&".lastwhisper"&:reply %16 was the last person to whisper me.
&5&&O&16 == $4&".lastwhisper"&:reply No-one has whispered me since I started up! :(

 For those of you who are curious, this is what one of those responses looks like using
 the old command system (which is not supported by Oper).

 COMMAND {
  <event number>
 ID 5
  <usermask>
 USER *
  <flags match>
 FLAGS O
  <conditional>
 IF 16 != $5
  <text match>
 TEXT ".lastwhisper"
  <action>
 ACTION /w %1 %16 was the last person to whisper me.
  [processafter] - CONTINUE is the same as using a +
 BREAK
 }

FyreChat Additions:
;Ban Users
&2&*{RC}&&/ban %1

;Auto Rejoin
;&7&&"the void"&+/join Op FyreChat

;O - Operators
&5&&O&&".whoami"&:reply %1 => %9. Use 'find %1' for more information.
&4&&O&&"whoami"&:reply %1 => %9. Use 'find %1' for more information.
;ImmediateSay Plugin
&5&&O&&".isay&/say %3
&4&&O&&"isay&/say %3
;ChatEncode Plugin
&5&&O&&".hex&/hex %3
&4&&O&&"hex&/hex %3
&5&&O&&".encrypt&/encrypt %3
&4&&O&&"encrypt&/encrypt %3
&5&&O&&".reverse&/reverse %3
&4&&O&&"reverse&/reverse %3
;TriviaBot
&5&&O&&".trivia &/trivia %3
;Old NBBot Style


;Q - Bot Master
;WinAmp Plugin
&5&&Q&&".play"&/play
&4&&Q&&"play"&/play
&5&&Q&&".pause"&/pause
&4&&Q&&"pause"&/pause
&5&&Q&&".next"&/next
&4&&Q&&"next"&/next
&5&&Q&&".back"&/back
&4&&Q&&"back"&/back
&5&&Q&&".sop"&/sop
&4&&Q&&"sop"&/sop
&5&&Q&&".eop"&/eop
&4&&Q&&"eop"&/eop
&5&&Q&&".volup"&/volup
&4&&Q&&"volup"&/volup
&5&&Q&&".voldown"&/voldown
&4&&Q&&"voldown"&/voldown
&5&&Q&&".rewind"&/rewind
&4&&Q&&"rewind"&/rewind
&5&&Q&&".forward"&/forward
&4&&Q&&"forward"&/forward
&5&&Q&&".closewinamp"&/closewinamp
&4&&Q&&"closewinamp"&/closewinamp
&5&&Q&&".songinfo"&/songinfo
&4&&Q&&"songinfo"&/songinfo
&5&&Q&&".sendsonginfo"&/sendsonginfo
&4&&Q&&"sendsonginfo"&/sendsonginfo
;Sets Home Channel in FyreChat Config
&5&&Q&&".sethome&/sethome %3

;S - SafeList
&5&&S&&"?trigger"&:reply Trigger: "."
&5&&S&&".about"&/versionout %1
; Oper Data
&5&&S&&".operbuilt"&:reply %12 %13
&5&&S&&".gameprod"&:reply %30
&5&&S&&".botup"&:reply %31
&5&&S&&".sysup"&:reply %32

;Friend Mode
&5&&O&21 != FriendOn&".friendon"&+:set 2 FriendOn
&5&&O&21 == FriendOn&".friendon"&:reply Enabled friend mode
&5&&O&21 != FriendOff&".friendoff"&+:set 2 FriendOff
&5&&O&21 == FriendOff&".friendoff"&:reply Disabled friend mode
&5&&O&20 == StatOn&".friend?"&:reply Friend is enabled
&5&&O&20 != StatOn&".friend?"&:reply Friend is disabled
&5&&S&21 == FriendOn&".time"&%14 %15
&4&&S&21 == FriendOn&"time"&:reply %14 %15
&5&&S&21 == FriendOn&".getlag"&:reply Your ping is: %6
&4&&S&21 == FriendOn&"getlag"&:reply Your ping is: %6
&5&&S&21 == FriendOn&".getlag&/w %3 «Ping»
&5&&S&21 == FriendOn&".help"&Commands for Safelisted: time, getlag
;&10&&«Ping»&&&%3 ping is: %2


;Custom
;Name Command - @Author: Fyre
&5&&S&&".name &+:set 3 %3
